<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="RedisPath" value="127.0.0.1:6379"/>
  </appSettings>
  <connectionStrings>
    <!--银行配置库-->
    <add name="ConnectionBankMobilePayment" connectionString="server=182.254.146.121;database=BankMobilePayment;User ID=BankPay_Current;Password=HJnbhgDF%RDY$EDFGyf$@scmo^DHgfdADLKWAQ;Connect Timeout=120" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>